<%for(var i=0;i<comment.length;i++){%>
<div align="left" class="comment_section">
  <div style="display: none" id="comment_id"><%=comment[i].id%></div>
  Rated :<%=comment[i].rating%>
  <%=comment[i].name%>:
  <%=comment[i].comment_text%>
  <button id="like_button<%=comment[i].id%>" onclick="myfunc(<%=comment[i].id%>)" ><i class="fa fa-thumbs-up"></i></button><div id="gg<%=comment[i].id%>" style="display: inline"><%=comment[i].likes-1%></div>
</div>
<%}%>
