<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/movie.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c376080933.js" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      function myfunc(x) {
        document.getElementById("like_button"+x).disabled = true;
        $(document).ready(function () {
            $(this).prop('disabled', true);
            $.post("/add_like", {
                      comment_id: x
                    },
                    function (data,status) {
                      $("#gg"+x.toString()).text(data);
                    });
          });
        }
      function myfunc2(x) {
        $(document).ready(function () {
          $.post("/order_by", {
                    value: x
                  },function(html){
            $("#comments_sec").html(html);
          });
        })
      }
      function myfunc4() {
        $(document).ready(function () {
          $.get("/get_news",function(html){
            $("#change").html(html);
          });
        })
      }
      $(() => {
  const $form = $('#comment_inserted')

  $form.on('submit', myfunc3)

  function myfunc3 (e) {
    e.preventDefault()
    const options = {
      method: $form.attr('method'),
      url: $form.attr('action'),
      data: $form.serialize()
    }

    $.ajax(options).done(html => {
      $("#average_sec").html(html);
    })
    }
  })    
    </script>
  </head>
  <body class="movie">
    <div class="header">
      <h1 class="title"><a href="/movies"><%= title %></a></h1>
    </div>
    <div class="flex-container">
      <div class="data">
        <p class="titl" style="display: inline;"><%=movie_data.Title%>(<%=movie_data.Year%>)<div style="display: inline; padding-left: 40%;" class="imdb_data"><a href="https://www.imdb.com/"><svg id="home_img" class="ipc-logo" xmlns="http://www.w3.org/2000/svg" width="64" height="32" viewBox="0 0 64 32" version="1.1"><g fill="#F5C518"><rect x="0" y="0" width="100%" height="100%" rx="4"></rect></g><g transform="translate(8.000000, 7.000000)" fill="#000000" fill-rule="nonzero"><polygon points="0 18 5 18 5 0 0 0"></polygon><path d="M15.6725178,0 L14.5534833,8.40846934 L13.8582008,3.83502426 C13.65661,2.37009263 13.4632474,1.09175121 13.278113,0 L7,0 L7,18 L11.2416347,18 L11.2580911,6.11380679 L13.0436094,18 L16.0633571,18 L17.7583653,5.8517865 L17.7707076,18 L22,18 L22,0 L15.6725178,0 Z"></path><path d="M24,18 L24,0 L31.8045586,0 C33.5693522,0 35,1.41994415 35,3.17660424 L35,14.8233958 C35,16.5777858 33.5716617,18 31.8045586,18 L24,18 Z M29.8322479,3.2395236 C29.6339219,3.13233348 29.2545158,3.08072342 28.7026524,3.08072342 L28.7026524,14.8914865 C29.4312846,14.8914865 29.8796736,14.7604764 30.0478195,14.4865461 C30.2159654,14.2165858 30.3021941,13.486105 30.3021941,12.2871637 L30.3021941,5.3078959 C30.3021941,4.49404499 30.272014,3.97397442 30.2159654,3.74371416 C30.1599168,3.5134539 30.0348852,3.34671372 29.8322479,3.2395236 Z"></path><path d="M44.4299079,4.50685823 L44.749518,4.50685823 C46.5447098,4.50685823 48,5.91267586 48,7.64486762 L48,14.8619906 C48,16.5950653 46.5451816,18 44.749518,18 L44.4299079,18 C43.3314617,18 42.3602746,17.4736618 41.7718697,16.6682739 L41.4838962,17.7687785 L37,17.7687785 L37,0 L41.7843263,0 L41.7843263,5.78053556 C42.4024982,5.01015739 43.3551514,4.50685823 44.4299079,4.50685823 Z M43.4055679,13.2842155 L43.4055679,9.01907814 C43.4055679,8.31433946 43.3603268,7.85185468 43.2660746,7.63896485 C43.1718224,7.42607505 42.7955881,7.2893916 42.5316822,7.2893916 C42.267776,7.2893916 41.8607934,7.40047379 41.7816216,7.58767002 L41.7816216,9.01907814 L41.7816216,13.4207851 L41.7816216,14.8074788 C41.8721037,15.0130276 42.2602358,15.1274059 42.5316822,15.1274059 C42.8031285,15.1274059 43.1982131,15.0166981 43.281155,14.8074788 C43.3640968,14.5982595 43.4055679,14.0880581 43.4055679,13.2842155 Z"></path></g></svg></a>:<%=movie_data.imdbRating%></div></p>
        <p>Rated : <%=movie_data.Rated%></p>
        <p>Released : <%=movie_data.Released%></p>
        <p><%=movie_data.Genre%></p>
        <p>Director : <%=movie_data.Director%></p>
        <p>Writer : <%=movie_data.Writer%></p>
        <p>Actors : <%=movie_data.Actors%></p>
        <p><%=movie_data.Plot%></p>
        <p>Language : <%=movie_data.Language%></p>
        <p>Country : <%=movie_data.Country%></p>
        <p>Awards : <%=movie_data.Awards%></p>
        <p>Type : <%=movie_data.Type%></p>
      </div>
      <div class="poster" >
        <img src="<%=movie_data.Poster%>" class="img-rounded"> 
      </div>
    </div>
  <div id="average_sec">
    <h1 align="center"><%=average%></h1>
    <p align="center">Rated by Users</p>
    <div id="change">
    <div class='menu'>
      <button><div class='design' style='background-color: #787878; '><p style='color: #011d2b;'>COMMENTS</p></div></button>
      <button onclick="myfunc4()"><div class='design'><p>NEWS</p></div></button>
    </div>
  <form action="/get_comment" method="post" id="comment_inserted">
    <label>
      <input type="number" placeholder="rate here.." name="input_rating" step="0.1" required>
    <input type="text" placeholder="comment here.." name="input_comment" required>
      <button type="submit" value="submit">+  COMMENT</button>
    </label>
  </form>
    <br>
    <label for="order_by" class="drop">ORDER BY:</label>
    <select name="order_by" id="drop" onchange="myfunc2(value)" >
      <div class="dropdown-content">
      <option value='created_at'>Newest First</option>
      <option value='likes'>Top Comment</option>
    </div>
    </select>
    <div id="comments_sec">
  <%for(var i=0;i<comment.length;i++){%>
      <div align="left" class="comment_section">
        <div style="display: none" id="comment_id"><%=comment[i].id%></div>
        Rated :<%=comment[i].rating%><br>
        <%=comment[i].name%>:
        <%=comment[i].comment_text%><br>
        <button id="like_button<%=comment[i].id%>" onclick="myfunc(<%=comment[i].id%>)" ><i class="fa fa-thumbs-up"></i></button><div id="gg<%=comment[i].id%>" style="display: inline"><%=comment[i].likes%></div>
      </div>
  <%}%>
    </div>
    </div>
    </div>
    <div class="footer">
        <p>CREATED BY ADITYA VYAWAHARE</p>
    </div>
  </body>
</html>
